:root {
  --spinner-size: 600px;
}

.App {
  

  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 85% 05%;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(green, blue, green);
  background-size: cover;
  font-family: Arial, sans-serif;
}

.App > * {
  border: 1px solid red;
}

.grid-container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2vh 2vw;
}


.spinner-container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: calc(var(--spinner-size) * 0.06) solid transparent;
  border-right: calc(var(--spinner-size) * 0.06) solid transparent;
  border-bottom: calc(var(--spinner-size) * 0.06) solid #000;
  transform: translateY(calc(-0.5 * var(--spinner-size))) rotate(180deg);
  z-index: 2;
}

.controls label, .controls ul {
  color: white;
}

.top-row {
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.controls {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}a

.spinner-wrapper {
  width: var(--spinner-size);
  height: var(--spinner-size);
  position: relative;
  z-index: 1;
}

#spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  display: block;
  margin-top: 1vh;
  font-size: 1.5vw;
  padding: 1vh 2vw;
  cursor: pointer;
  background-color: #8f0fb2;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 7px rgba(70, 6, 83, 0.3);
}

.wallet-input {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

textarea {
  resize: vertical;
}

@media (max-width: 768px) {
  .spinner-container {
    left: 50%;
    transform: translateX(-50%);
  }
}
